@media screen and (min-width: 312px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 456px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 75%;
    }
}

@media screen and (min-width: 744px) {
    .container {
        width: 75%;
    }
}

@media screen and (min-width: 888px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 1032px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 1176px) {
    .container {
        width: 33.333%;
    }
}

@media screen and (min-width: 1320px) {
    .container {
        width: 33.333%;
    }
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: "Madimi One", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212121;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    background-color: #263238;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 10px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    resize: vertical;
    border-radius: 2px;
    font-size: 15px;
}

textarea:hover, textarea:active, textarea:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

ul > li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    color: #FF5722;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.error > svg {
    flex-shrink: 1;
}

.error > small {
    flex-shrink: 3;
}

#save {
    background-color: #00796B;
    color: white;
    border: 0;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 2px;
}

#save:hover {
    background-color: #009688;
}

#save[disabled=disabled] {
    background-color: #009688;
    opacity: 75%;
    cursor: wait;
}

#update {
    background-color: #FBC02D;
    color: #212121;
    border: 0;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 2px;
}

#update:hover {
    background-color: #FFEB3B;
}

#update[disabled=disabled] {
    background-color: #FFEB3B;
    opacity: 75%;
    cursor: wait;
}

#cancel {
    background-color: #616161;
    color: white;
    border: 0;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 2px;
}

#cancel:hover {
    background-color: #9E9E9E;
}

ul > li:nth-child(3) > h3 {
    color: #9E9E9E;
    padding: 0;
    margin: 0;
}

.notes {
    flex: 1; /* Grow to fill remaining space */
    overflow-y: auto; /* Add scrollbar if content overflows */
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.notes > ul {
    flex-direction: column-reverse; /* Display items in reverse order */
    padding: 0;
}

.notes > ul > .empty {
    display: block; 
    margin: auto;
    padding: 48px;
}

.notes > ul > li {
    background-color: #212121;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 2px;
    gap: 10px;
}

.notes > ul > li:hover {
    border: 1px solid #9E9E9E;
    cursor: alias;
}

.notes > ul > li > div {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.notes > ul > li > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type=checkbox] {
    cursor: pointer;
    margin: 0;
}

p {
    margin: 0;
    cursor: text;
    color: #9E9E9E;
    font-size: 16px;
}

li > div > div > small {
    color: #616161;
    font-style: italic;
    margin-left: auto;
    font-weight: lighter;
}

.delete {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #9d9d9d;
    padding: 0;
}

.delete svg:hover {
    stroke: #FF5722;
}

.line-through {
    text-decoration: line-through;
}